/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Styling for 3D Effect */
.tip-calculator {
  padding: 30px;
  width: 320px;
  text-align: center;
  border-radius: 15px;
  background: linear-gradient(145deg, #333, #222);
  box-shadow: -4px -8px 18px #000000 inset, 4px 4px 16px #606060 inset;
}

.app-title {
  padding: 0.5rem;
  font-size: 3rem;
  color: #518bbb;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: linear-gradient(145deg, #333, #222);
  box-shadow: -4px -8px 18px #000000 inset, 4px 4px 16px #606060 inset;
}

/* Input Groups */
.input-group {
  text-align: left;
  margin: 20px 0;
}