/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Styling for 3D Effect */
.tip-calculator {
  padding: 30px;
  width: 350px;
  text-align: center;
  border-radius: 15px;
  background: linear-gradient(145deg, #333, #222);
  box-shadow: -4px -8px 18px #000000 inset, 4px 4px 16px #606060 inset;
}

.app-title {
  padding: 0.9rem;
  font-size: 3rem;
  color: #518bbb;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: linear-gradient(145deg, #333, #222);
  box-shadow: -4px -8px 18px #000000 inset, 4px 4px 16px #606060 inset;
}

/* Input Groups */
.input-group {
  text-align: left;
  margin: 20px 0;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  display: block;
  color: #bebebe;
}

/* Input Fields */
input {
  width: 100%;
  padding: 10px;
  color: #333;
  font-size: 1.3rem;
  outline: none;
  border: solid #252525 0.1rem;
  border-radius: 10px;
  background: linear-gradient(145deg, #dfdfdf, #dedede);
  box-shadow: -4px -8px 18px #707070 inset, 4px 4px 16px #f3f3f3 inset;
}

/* Result Section */
.result-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin-top: 30px;
}

.result-box1,
.result-box2 {
  width: 100%;
  padding: 0.8rem 0.5rem;
  background: #2f3131;
  border-radius: 10px;
  background: linear-gradient(145deg, #333, #222);
  box-shadow: -4px -8px 18px #000000 inset, 4px 4px 16px #606060 inset;
}

.total-bill-label,
.total-per-person-label {
  color: #898989;
  font-size: 1.3rem;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.total-bill-amount,
.total-amount {
  font-size: 1.8rem;
  font-weight: bold;
  color: #28a745;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
